<h1>Add a Car</h1>
<form action="/cars" method="post">
  <label for ="name">Car Name</label>
  <input id="car-make" name="car-make" type="text">
  <label for ="car-model">Car Model</label>
  <input id="car-model" name="car-model" type="text">
  <label for="car-price">Car Price</label>
  <input id="car-price" name="car-price" type="text">
  <label for="car-miles">Car Mileage</label>
  <input id="car-miles" name="car-miles" type="text">
  <label for ="car-year">Car Year</label>
  <input id="car-year" name="car-year" type="text">
  <button type="submit">Submit</button>
</form>
