<h1>To Do List</h1>
<form action="/car_form" method="post">
  <label for ="car">Add a new Car</label>
  <label for ="name">Car Name</label>
  <input id="car-name" name="car-name" type="text">
  <label for ="model">Car Model</label>
  <input id="car-model" name="car-model" type="text">
  <label for ="year">Car Year</label>
  <input id="car-year" name="car-year" type="text">
  <label for="miles">Car Mileage</label>
  <input id="car-miles" name="car-miles" type="text">
  <label for="price">Car Price</label>
  <input id="car-price" name="car-price" type="text">
  <button type="submit">Submit</button>
</form>
